.img-proyecto{
    padding: 10%;
    width: 120%;
}

.margen-proyecto{
    margin: 4%;
}

.margen-titulo{
    margin: 10%;
}

.proyecto {
    min-height: 250px;
}

.margen-alumnos {
    margin-bottom: 0px;
}

.margen-lista-alumnos {
    margin-top: 3px;
    margin-bottom: 3px;
}